@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@font-face {
    font-family: droid;
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

.negrito {
    color: #007007;
    font-weight: bold;
}

body {
    width: 100%;
    height: 100%;
    background-color: #0dfc5580;
}

header {
    background-image: linear-gradient(#32c90c, #005706);
    width: 100%;
}

.titulo-site {
    min-width: 320px;
    max-width: 800px;
    height: 200px;
    margin: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.titulo-site > h1 {
    text-transform: uppercase;
    color: white;
    font-size: 2em;
    padding-top: 50px;
}

.titulo-site > p {
    color: #dadada;
    margin: 0;
    padding-top: 30px;
}

.menu {
    background-color: #005306;
    height: 50px;
}

.menu > ul > li {
    margin-left: 10px;
    margin-top: 15px;
    display: inline-block;
    list-style: none;
}

.menu > ul > li > a{
    color: #fafafa;
    font-family: 'Asap', sans-serif;
    border-radius: 5px;
    padding: 7px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #279c0a;
}

main {
    min-width: 320px;
    max-width: 830px;
    height: 100%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.principal {
    padding: 15px;
}

.principal > h1 {
    font-family: 'droid';
    font-size: 36px;
    color: #005706;
    padding: 10px 0px 0px 10px;
}

.principal > h2 {
    padding: 5px 0px 5px 10px;
    margin: 15px 0px 15px 0px;
    font-family: 'droid';
    font-size: 24px;
    color: #005706;
    background-image: linear-gradient(to right, rgb(135, 231, 135), rgb(232, 253, 232));
}
.principal > p {
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    text-align: justify;
    text-indent: 5%;
    margin: 15px 0px 15px 0px;
}

.imagem {
    margin: auto;
    display: block;
    width: 100%;
}

#video {
    border: solid #005306;
    border-width: 28px 53px 28px 53px;
    height: 100%;
}

#video > iframe {
    margin: auto;
    display: block;
}

.extra {
    background-color: #0dfc5580;
    height: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

#versao1 {
    float: left;
    width: 50%;
    font-family: 'Asap', sans-serif;
    margin: 0px 0px 15px 0px;
}

#versao2 {
    float: right;
    width: 40%;
    font-family: 'Asap', sans-serif;
    margin: 0px 0px 15px 0px;
}

#versao1 > ul{
    padding-left: 40px;
}

.extra > h3 {
    background-color: #36c45c;
    height: 35px;
    padding: 11px 0px 0px 15px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #fafafa;
}

.extra > p{
    padding: 0px 10px 15px 10px;
    margin: 15px 0px 15px 0px;
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    text-align: justify;
    text-indent: 5%;
}

footer {
    background-color: #005306;
    color: #fafafa;
    margin-top: 15px;
    height: 100%;
    width: 100%;
}

footer > p {
    text-align: center;
    padding: 5px;
    font-family: 'Asap', sans-serif;
}